<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Periodico Escolar Digital</title>
  <link rel="stylesheet" href="css/font/flaticon.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <header class="site-header">

    <a href="index.html"><img src="img/ped.jpeg" alt="Logotipo del Periodico Escolar Digital"></a>

    <div class="contenido-header">
      <h1>Periodico Escolar</h1>
      <input type="text" name="buscar" placeholder="Buscar">
    </div>
  </header>

  <main>
    <div class="contenido-main seccion-avisos">
      <h2>Avisos</h2>
      <div class="publicacion">
        <img src="img/UTSOE.png" alt="Foto Perfil">
        <div class="contenido-publicaciones">
          <p>
            Solicitudes de beca
          </p>
        </div>
        <div class="contenido-info">
          Fecha de publicacion <br><br>
          <input type="checkbox"> selecionar
        </div>
      </div>
      <hr>
    </div>
  </main>

</body>

</html>