<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deportes</title>
  <link rel="stylesheet" href="css/font/flaticon.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <header class="site-header">

    <a href="index.html"><img src="img/ped.jpeg" alt="Logotipo del Periodico Escolar Digital"></a>

    <div class="contenido-header">
      <h1>Periodico Escolar</h1>
      <input type="text" name="buscar" placeholder="Buscar">
    </div>
  </header>

  <nav class="navegacion">
    <a href="Deportes.html">
      <i class="flaticon-futbol"></i> Deportes
    </a>
    <a href="Culturales.html">
      <i class="flaticon-idioma"></i> Culturales
    </a>
    <a href="Comunidad.html">
      <i class="flaticon-gorro-de-graduacion"></i> Comunidad Estudiantil
    </a>
  </nav>

  <main class="seccion-deportes seccion">
    <h1 class="center">Actividades Deportivas</h1>

    <div class="cards">
      <div class="card card-green">
        <h3>Futbol</h3>
        <i class="flaticon-futbol"></i>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nam, doloremque maiores minus nemo, saepe
          impedit culpa neque atque quasi molestiae placeat deserunt dicta delectus ullam, deleniti architecto vero
          velit.</p>
      </div>
      <div class="card card-yellow">
        <h3>Taekwondo</h3>
        <i class="flaticon-patada-de-taekwondo"></i>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere ex quis omnis dolorem neque nihil eaque,
          voluptatibus ullam ipsa a. Nam provident magnam ullam, recusandae officia animi aliquid placeat libero.</p>
      </div>
      <div class="card card-blue">
        <h3>Atletismo</h3>
        <i class="flaticon-corriendo"></i>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum dignissimos, consequatur fugit consequuntur
          quam eos molestias delectus iste, aliquam suscipit illum nam perferendis velit temporibus mollitia deserunt
          earum quos!</p>
      </div>
    </div>

    <button class="boton">
      Clik para ver más!!
    </button>
  </main>
</body>

</html>