<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Periodico Escolar Digital</title>
  <link rel="stylesheet" href="css/font/flaticon.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <header class="site-header">

    <a href="index.html"><img src="img/ped.jpeg" alt="Logotipo del Periodico Escolar Digital"></a>

    <div class="contenido-header">
      <h1>Periodico Escolar</h1>
      <input type="text" name="buscar" placeholder="Buscar">
    </div>
  </header>

  <main class="seccion-eventos seccion">
    <h1 class="center">Proximos eventos</h1>

    <div class="cards">

      <div class="card card-black">
        <p>Noche Mexicana</p>
        <a href="Registro.html">
          <button type="submit">
            Participar
          </button>
        </a>
      </div>

      <div class="card card-blue">
        <p>Hallowen</p>
        <a href="Registro.html">
          <button type="submit">
            Participar
          </button>
        </a>
      </div>
    </div>
  </main>

</body>

</html>